.u-section-1 .u-sheet-1 {min-height: 857px}
.u-section-1 .u-text-1 {margin: 30px 0 60px}
.u-section-1 .u-text-2 {font-weight: normal; margin-bottom: 0}
.u-section-1 .u-btn-1 {border-style: none; font-weight: 700; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 2px; margin-bottom: 60px; margin-top: 30px; padding: 11px 50px 11px 49px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 854px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 864px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 816px}
.u-section-1 .u-text-2 {margin-bottom: 60px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 640px}
.u-section-1 .u-text-1 {width: auto; margin: 117px auto 0}
.u-section-1 .u-text-2 {width: auto; font-weight: 700; margin: -128px auto 0 138px}
.u-section-1 .u-btn-1 {margin-top: 157px; margin-left: auto; margin-right: auto; padding: 14px 29px} }